<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div id="app">
  <header>
    <section >
      <div class="navbar">
        <div class="">
          <img class="boolflix_img" src="assets/img/boolflix.png" alt="">
        </div>
        <div class="">
            <input v-model="searchTerm" @keyup.enter="getData()" type="text"  name="" value="" placeholder="cerca">
          </form>
        </div>
      </div>
    </section>
  </header>

  <main>
  <div class="bloccocentro">
   <div id="film" class="film_section">
     <div class="card_film" v-for="document in filmDocuments" >
       <div class="overlay">
         <div class="info_box">
         <p>Titolo: {{document.title}}</p>
         <p>Titolo originale: {{document.original_title}}</p>
         <p>Lingua:</p>
           <img class="flag" v-if="document.original_language == 'en' " src="assets/img/download.png" alt="">
           <img class="flag" v-else-if="document.original_language == 'it' " src="assets/img/ita.png" alt="">
           <img class="flag" v-else-if="document.original_language == 'ja' " src="assets/img/jp.png" alt="">
           <p v-else>lingua: {{document.original_language}} </p>
           <p> Voto:
           <i v-for="stella in document.stellePiene" class="fas fa-star"></i>
           <i v-for="stella in (5 - document.stellePiene)" class="far fa-star"></i>
           </p>
           <p>Overview: {{document.overview}}</p>

           </div>
       </div>


       <img v-if="document.poster" :src="document.poster" alt="">
       <img v-else src="assets/img/place.png" id="img_not" alt="">
     </div>
   </div>


    <div class="tvseries_section">
     <ul v-for="document in tvSeriesDocuments" >
       <li>{{document.name}}</li>
       <li>{{document.original_name}}</li>
       <li>
         <img class="flag" v-if="document.original_language == 'en' " src="assets/img/download.png" alt="">
         <img class="flag" v-else-if="document.original_language == 'it' " src="assets/img/ita.png" alt="">
         <img class="flag" v-else-if="document.original_language == 'ja' " src="assets/img/jp.png" alt="">
         <p v-else>lingua: {{document.original_language}} </p>
       </li>
       <li>
         <i v-for="stella in document.stellePiene" class="fas fa-star"></i>
         <i v-for="stella in (5 - document.stellePiene)" class="far fa-star"></i>
       </li>
       <img v-if="document.poster" :src="document.poster" alt="">
       <img v-else src="assets/img/place.png" alt="">
     </ul>
   </div>

   </div>
  </main>

</div>






<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
